@model IEnumerable<Base_Project.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENABLED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMG_SRC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENABLED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMG_SRC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SID })
        </td>
    </tr>
}

</table>
